@model IEnumerable<DebtManager.Core.Entities.TheirDebt>

@{
    ViewData["Title"] = "Index";
}

<section class="header-section">
    <div class="row">
        <div class="col-md-6">
            <h2>Their Debit</h2>
        </div>
        <div class="col-md-6 ">
            <p class="text-right">
                <a asp-action="Create" class="btn btn-primary">Create New</a>
            </p>
        </div>
    </div>
</section>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.debtId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Currency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.debtId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Currency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateAt)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
